html {
  font-size: 16px;
}

:root {
  --square-side-length: 3.5rem;
  --sub-font-size: calc(var(--square-side-length) / 3.5);
  --strong-font-size: calc(var(--square-side-length) * 3 / 4);
}

#sudoku {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  justify-content: center;
  margin: 4rem 0;
}

#sudoku ul {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid #808080;
}

#sudoku li {
  list-style: none;
  border: 2px solid #b0b0b0;
  width: var(--square-side-length);
  height: var(--square-side-length);
}

.pencilmarks {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  margin: 5%;
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
  justify-content: space-between;
}

#sudoku li strong {
  font-size: var(--strong-font-size);
  text-align: center;
  width: var(--square-side-length);
  height: var(--square-side-length);
  /* color: #363636; */
  /* text-shadow: 2px 2px 6px gray; */
  /* border: 2px solid red; */
  display: inline-block;
  position: relative;
  bottom: 110%;
}

#sudoku li sub {
  font-size: var(--sub-font-size);
  text-align: center;
  position: relative;
  bottom: 20%;
  color: gray;
  height: var(--sub-font-size);
}

.hidden {
  visibility: hidden;
}
